:root {

  --bg-color: #6876CB;
  --header-color: #6876CB;
  --header-menu-button-color: #6876CB;
  --header-menu-button-hover-color: #4558C4;
  --content-background-color: #606FCA;
  --card-bg: #4558C4;
  --card-border: #8A93D1;
  --dark-bg: #4558C4;
  --white-font: #ffffff;
  --light-bg: #6876CB;
}

body{
  background-color: var(--bg-color);
}

.App {
  text-align: center;
  width: 80vw;
  margin: auto;

  display: flex;
  flex-direction: column;
}

.AppContent{
  background-color: var(--content-background-color);
  margin-top: 5px;
  min-height: 80vh;
}